<%- include("partials/header") %>
    <link rel="stylesheet" href="/admin.css" />
    <%- include("partials/navbar3") %>

        <div class="ui dimmer" id="dimmer">
            <div class="ui massive text loader">
                <h5>Waiting for your transaction to be mined....</h5>
            </div>
        </div>
        <!-- FORM -->
        <div class="form1" style="margin: 0;">
            <div class="ui raised  segment dimmable">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="ui text loader">Loading</div>
                    </div>
                </div>
                <h2 class="ui header" style="margin: 10px;"><i style="color:#379683;" aria-hidden="true" class="user icon"></i>Add Patient Data</h2>
                <p style="color: black;"> Add patient data to make him/her register in the hospital and proceed for treatment.
                </p>
                <div class="ui divider"></div>
                <form id="myForm" action="" method="POST" class="ui form">
                    <div class="field">
                        <div class="field"><label class="ui header">Patient Name</label>
                            <div class="ui left icon input"><input id="patientName" aria-invalid="true" style="padding: 1;" type="sidplaceholder=" Enter Patient Name " name=" patientName " type=" text " value=" <%=user.name %>" readonly><i aria-hidden="true" class="user icon"></i></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Patient's Email Address</label>
                            <div class="ui left icon input"><input id="patientEmail" aria-invalid="true" style="padding: 0;" placeholder="Enter Email" name="patientEmail" type="text" value="<%= user.email %>" readonly><i aria-hidden="true" class="mail icon"></i></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Patient's Comments</label>
                            <div class="ui left icon input"><input id="patientRequest" aria-invalid="true" style="padding: 0;" type="text" value="<%= comment %>" readonly><i aria-hidden="true" class="key icon"></i>
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="field"><label class="ui header">Patient's Address</label>
                            <div class="ui left icon input"><input id="patientAddress" aria-invalid="true" style="padding: 0;" placeholder="Enter Patient's Address" name="patientAddress" type="text" value="<%= user.patientAddress %>" readonly><i aria-hidden="true" class="home icon"></i>
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="field"><label class="ui header">Patient's Public key</label>
                            <div class="ui left icon input"><input id="patientPublicKey" aria-invalid="true" style="padding: 0;" placeholder="Enter Public Key" name="patientPublicKey" type="text" value="<%= user.publicKey %>" readonly><i aria-hidden="true" class="key icon"></i></div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="field"><label class="ui header">Hospital Name </label>
                            <div class="ui left icon input"><input id="hospitalName" aria-invalid="true" style="padding: 0;" placeholder="Enter Hospital Admission ID" name="hospitalName" type="text" value="<%= hospital.name %>"><i aria-hidden="true" class="hospital icon"></i></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Upload File</label>
                            <div class="ui left icon input">
                                <input id="imgFile" aria-invalid="true" style="padding: 1;" name="" accept="image/*" type="file" value=""><i aria-hidden="true" class="file icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Admission Date</label>
                            <div class="ui calendar calc">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input id="admissionDate" style="padding: 0;" name="admissionDate" type="text" placeholder="Admission Date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Release Date</label>
                            <div class="ui calendar calc">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input id="releaseDate" style="padding: 0;" name="releaseDate" type="text" placeholder="Release Date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Comments</label>
                            <textarea id="comments" placeholder="Enter Comments" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field"><label class="ui header">Symptoms</label>
                            <textarea id="symptoms" placeholder="Enter Symptoms" name="symptoms"></textarea>
                        </div>
                    </div>
                    <input id="email" aria-invalid="true" style="padding: 0;" placeholder="Email" name="email" type="hidden" value="<%= owner.email %>" type="hidden">
                    <div class="ui divider"></div>
                    <div style="background-color:#379683; color: white;" id="tranbtn" onclick="upload()" class="circular ui button">
                        <div class="content">Create Transaction</div>
                    </div>
                </form>

            </div>

            <div style="margin: 0 auto;" class="ui basic modal mod1">
                <div class="ui icon header">
                    <i class="lock icon"></i><span style="font-size: 1.5em;">Enter Password</span>
                </div>
                <div style="text-align: center;" class="content">
                    <p style="color: red; font-size: 2em;">Please enter your password to to securely decrypt your private keys and sign the transaction.</p>
                    <div style="display: flex; justify-content: center;">
                        <div class="ui left icon input"><input style="background: transparent; color: white; border: none;" id="pwd" style="padding: 0;" aria-invalid="true" placeholder="Enter Password" name="password" type="password" value=""><i aria-hidden="true" style="color: white;"
                                class="lock icon"></i>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" class="actions">
                    <button class="ui pink basic ok inverted  button" onclick="addData()"><i class="checkmark icon"></i>Add
                Data</button>
                </div>
            </div>
            <div style="margin: 0 auto;" class="ui basic modal mod2">
                <div class="ui icon header">
                    <i style="color: green; font-size: 5em;" class="checkmark icon"></i><span style="font-size: 2em;">Transaction
                <span style="color:green">Confirmed!</span></span>
                </div>
                <div class="actions">
                    <form action="/hospitals/<%= id %>/add-patient-data" method="POST">
                        <button type="submit" class="ui red basic ok inverted button"><i class="remove icon"></i>Close</button>
                    </form>
                </div>
            </div>
            <div style="margin: 0 auto;" class="ui basic modal mod3">
                <div class="ui icon header">
                    <i style="color: red; font-size: 5em;" class="remove icon"></i><span style="font-size: 2em;">Transaction
                <span style="color:red">Failed!</span></span>
                </div>
                <div class="actions">
                    <button class="ui red basic ok inverted button"><i class="remove icon"></i>Close</button>
                </div>
            </div>
            <div style="margin: 0 auto;" class="ui basic modal mod4">
                <div class="ui icon header">
                    <i style="color:red; font-size: 5em;" class="remove icon"></i><span style="font-size: 2em;">Please upload
                image of the report!</span>
                </div>
                <div class="actions">
                    <button class="ui red basic ok inverted button"><i class="remove icon"></i>Close</button>
                </div>
            </div>

        </div>


        </header>


        <%- include("partials/footer") %>
            <script src="/bundle.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/ipfs-http-client/dist/index.min.js"></script>
            <script src="/buffer.js"></script>
            <script src="/upload.js"></script>
            </body>

            </html>