<%- include("partials/header") %>
    <link rel="stylesheet" href="/admin.css" />
    <%- include("partials/navbar") %>
        <div style="text-align: center; margin: 30px;">
            <div class="ui icon header">
                <i style="color: rgb(22, 238, 22); font-size: 5em;" class="checkmark icon"></i><span style="font-size: 2em; color: aliceblue;">Transaction
            <span style="color:rgb(25, 221, 25)">Confirmed!</span></span>
            </div>
        </div>
        <form style="min-width: 300px;" action="#" method="POST">

            <div style="margin:0 auto; max-width: 450px; border-radius: 20px;" class="card sticky-action">
                <div class="card-content">
                    <div class="card-title activator grey-text text-darken-4">
                        <span class="header" style="color: black;"></span>
                    </div>
                    <br>
                    <div class="address">
                        <div style="font-size: 1em;"> Asset Address: <%= assetAddress %></div>
                    </div>
                    <br>
                    <div class="address">
                    <div style="font-size: 1em;"> Patient Address: <%= patientAddress %></div>
                    </div>
                    <br>
                    <div style="border-radius: 20px; text-align: center;" class="card-action">
                    <button href="/hospitals/dashboard" class="ui circular green labeled icon button">
                        <i class="plus icon"></i> Dashboard
                    </button>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">User's Name<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </form>



        <%- include("partials/footer") %>
            <script src="/bundle.js">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/ipfs-http-client/dist/index.min.js"></script>
            <script src="/buffer.js"></script>
            <script src="/upload.js"></script>
            </body>

            </html>